<nav class="sidebar">
  <div *ngIf="notification" class="notification">
    <strong>{{ notification.title }}</strong
    ><br />
    <small>{{ notification.message }}</small>
  </div>

  <ul>
    <li *ngIf="userRole === 'admin'">
      <a routerLink="/dashboard/admin/users" routerLinkActive="active"> 👥 Utilisateurs </a>
    </li>
    <li>
      <a routerLink="/dashboard/admin/articles" routerLinkActive="active"> 📰 Articles </a>
    </li>
    <li *ngIf="userRole === 'admin'">
      <a routerLink="/dashboard/admin/statistics" routerLinkActive="active"> 📊 Statistiques </a>
    </li>

    <li>
      <a routerLink="/login" routerLinkActive="active">
        <span class="icon">🚪</span>
        <span class="text">Déconnexion</span>
      </a>
    </li>
  </ul>
</nav>
