.sidebar {
  width: 220px;
  background-color: #1f2937;
  color: #fff;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1.2rem;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a.active {
  color: #38bdf8;
}
.notification {
  background: #fffae5;
  border-left: 4px solid #f5b400;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 14px;
}
